<div class="container">
    <div class="row">
        <div class="col-12">
            <app-header></app-header>
        </div>
    </div> 

    <div class="row">
        <section id="home">
            <div class=""> 
                <h1 class="display-4">  </h1>
                <p class="lead">Bootstrap está incorporado a Angular.</p> 
                <hr class="my-4">
                <p>Ya estamos preparados para nuevos pasos...</p>
            </div>
            <app-hijo-pr [propiedadHijo]="personaData"></app-hijo-pr>
        </section>
        <h3>Sección 1:</h3>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="usr">Nombre:</label>
                    <input type="text" [(ngModel)]="personaData.nombre" class="form-control">
                </div>
                <div class="form-group">
                    <label for="usr">Apellidos:</label>
                    <input type="text" [(ngModel)]="personaData.apellidos" class="form-control">
                </div>
                
                <button type="button"  (click)="eventoBotonAngular()" class="btn btn-primary btn-blok">Evento Angular</button> 
            </div>
            <div class="col-6" >
                <div class="form-group">
                    <label for="usr">Edad:</label>
                    <input type="text" [(ngModel)]="personaData.edad" class="form-control">
                </div>
                <br/><br/>
                <app-hijo-pr [propiedadHijo]="personaData"></app-hijo-pr>
            </div>
        </div>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-footer></app-footer>
        </div>
    </div>
</div>
