<div class="container">
    <div class="row">
        <div class="col-12">
            <app-header></app-header>
        </div>
    </div> 

    <div class="row">
        <section id="home">
            <div class=""> 
                <h1 class="display-4">  </h1>
                <p class="lead">Bootstrap está incorporado a Angular.</p> 
                <hr class="my-4">
                <p>Ya estamos preparados para nuevos pasos...</p>
            </div>
        </section>
        <section id="uno">Contenido de la sección 1</section>
        <section id="dos">Contenido de la sección 2</section>
        <section id="tres">Contenido de la sección 3</section>
    </div>

    <div class="row">
        <div class="col-12">
            <app-footer></app-footer>
        </div>
    </div>
</div>
